# В директории проекта /docker создайте файл .env скопировав docker/.env.example
# или запустите команду из директории проекта import `make init-local-env`
# Ниже представленные переменные, которые нужны для локального разворачивания

IP_LOCAL_MACHINE=

KAFKA_USER=sa
KAFKA_PASSWORD=000000